<p id="notice"><%= notice %></p>
<div class="cover">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-12">
        <div id="content">
  				<h1>Red de voluntarios vía SMS</h1>
  				<h3>Ésta es una herramienta para mantener informados a voluntarios y/o expertos vía SMS </br>
  				sobre cómo y dónde más se require ayuda inmediata</h3>
  				<hr />
  				 <%= link_to "Soy Voluntario", {controller: "contacts", action: "new"}, class: "btn btn-default btn-lg" %>
  			</div>
  		</div>
  	</div>
  </div>
</div>
<main class="sms-main-content">
  <section class="sms-alerts">
      <div class="container">
          <h1>Anuncios</h1>
          <div class="row">
            <% @alerts.each do |alert| %>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                  <div class="sms-panel-box">
                      <h5 class="sms-panel-box__date">
                        Hace
                        <%= time_ago_in_words(alert.created_at) %>
                      </h5>
                      <h4 class="sms-panel-box__title">
                        Estado: 
                        <strong><%= alert.state %></strong>
                      </h4>
                      <h4 class="sms-panel-box__title mb1">
                        Zona: 
                      <strong><%= alert.zone %></strong>
                      </h4>
                      <p class="sms-panel-box__description">
                        <%= alert.message %>
                      </p>
                      <h6 class="sms-panel-box__volunters">Enviado a <%= alert.volunters %> voluntarios</h6>
                  </div>
              </div>
            <% end %>
          </div>
          <div class="row">
              <div class="col">
                  <p class="sms-button-row text-center">
                      <button class="btn btn-primary btn-md btn-round-green">Cargar más</button>
                  </p>
              </div>
          </div>
      </div>
  </section>
</main>
