<style>
  textarea {
   resize: none;
}
</style>

<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h4><%= errors_message(@contact.errors) %></h4>
    </div>
  <% end %>
  <div class="col-md-12">
    <div class="section">
      <div class="container">
        <h1>Llena el formulario</h1>
        <div class="row">
          <div class="col-md-6">
            <form role="form">
              <div class="form-group">
                <%= f.label :name,"Nombre", :class => "control-label" %>
                <%= input_error(@contact.errors[:name]) %>
                <%= f.text_field :name, :class => "form-control"  %>
              </div>
              <div class="form-group">
                <%= f.label :phone,"Teléfono", :class => "control-label" %>
                <%= input_error(@contact.errors[:phone]) %>
                <%= f.text_field :phone, :class => "form-control"  %>
              </div>
              <div class="form-group">
                <%= f.label :email,"Correo electrónico", :class => "control-label" %>
                <%= input_error(@contact.errors[:email]) %>
                <%= f.text_field :email, :class => "form-control"  %>
              </div>
              <h3>Cuéntanos un poco de tí, ¿en qué tienes experiencia?, ¿cómo te gustaría ayudar?</br>
              (opcional)</h3>
              <div class="form-group">
                <%= f.text_area :about_yo, :rows => 4, :cols => 50, :class => "form-control" %>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <h1>Selecciona las áreas en las que quieres ser voluntario (pueden ser las que quieras)</h1>
            <div class="col-md-12">
              <ul class="list-group">
                <%= hidden_field_tag "contact[category_ids][]", nil %>
                <% Category.all.each do |category| %>
                  <%= check_box_tag "contact[category_ids][]", category.id, @contact.category_ids.include?(category.id), id: dom_id(category) %>
                  <%= label_tag dom_id(category), category.name %><br>
                  <li class="list-group-item"><%= category.description %></li>
                <% end %>
            </ul>
          </div>
        </div>
        <%= f.submit 'Aceptar', :class => 'btn btn-default' %>
      </div>
    </div>
</div>

<% end %>



