<style>
  textarea {
   resize: none;
}
</style>

<%= form_for(@contact) do |f| %>

  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-12">
    <div class="section">
      <div class="container">
        <h1>Llena el formulario</h1>
        <div class="row">
          <div class="col-md-6">
            <form role="form">
              <div class="form-group">
                <%= f.label :name,"Tu Nombre", :class => "control-label" %><br>
                <%= f.text_field :name, :class => "form-control"  %>
              </div>
              <div class="form-group">
                <%= f.label :phone,"Tu Telefono", :class => "control-label" %><br>
                <%= f.text_field :phone, :class => "form-control"  %>
   <input id="geo-input" type="text" placeholder="Type in an address" value="" />

              </div>
              <div class="form-group">
                <%= f.label :email,"Correo Electronico", :class => "control-label" %><br>
                <%= f.text_field :email, :class => "form-control"  %>
              </div>
              <h3>Cuentanos un poco de ti, en que tienes experiencia, como te gustaria ayudar</br>
              (Opcional)</h3>
              <div class="form-group">
                <%= f.text_area :about_yo, :rows => 4, :cols => 50, :class => "form-control" %>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <h1>Selecciona las areas en las que quieres ser voluntario (pueden ser las que quieras)</h1>
            <div class="col-md-12">
              <ul class="list-group">
                <%= hidden_field_tag "contact[category_ids][]", nil %>
                <% Category.all.each do |category| %>
                  <%= check_box_tag "contact[category_ids][]", category.id, @contact.category_ids.include?(category.id), id: dom_id(category) %>
                  <%= label_tag dom_id(category), category.name %><br>
                  <li class="list-group-item"><%= category.description %></li>
                <% end %>
            </ul>
          </div>
        </div>
        <%= f.submit 'Aceptar', :class => 'btn btn-default' %>
      </div>
    </div>
</div>

<% end %>

