<%= form_for(@alert) do |f| %>
  <% if @alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

      <ul>
      <% @alert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2>Mensaje</h2>
    <%= f.text_area :message, cols: "30", rows: "5", placeholder: "No Mayor de 150" %>
  </div>
  <div class="field">
    <h2>Categoria</h2>
    <%= select_tag 'category_id', options_for_select(@categories) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


