<!DOCTYPE html>
<html>
<head>
  <title>ALERTAS-SMS</title>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4-LkXroaG8cjUszwUORc1fbwWPDPGBZo&libraries=places"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>
<footer class="sms-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <%= image_tag('logotype-lg.png', class: 'sms-footer__logotype') %>
                <p id="privacy">
                AVISO DE PRIVACIDAD</br>
                Codeando México, A.C., con domicilio en Ometusco 25-2, 25-2, Col. Hipódromo-Condesa. Delegación Cuauhtémoc.
                Ciudad de México. 06100 de conformidad con los establecido en la Ley de Protección de Datos Personales en Posesión de particulares, su reglamento y demás disposiciones aplicables en la materia, es responsable de solicitar sus datos personas, al igual que el uso que se les dé a los mismos y de su protección. Los datos personales que de forma voluntaria proporcione serán utilizados para:
                </br>
                I.	Crear una base de datos de uso interno. </br>
                II.	Identificarlo para localizarlo y enviarle información y/o alertas sobre las zonas afectadas por el sismo. </br>
                En caso de cualquier duda puede ponerse en contacto con Codeando México, A.C. en <a href="mailto:equipo@codeandomexico.org">equipo@codeandomexico.org</a>. Para mayor información sobre nuestro Aviso de Privacidad consulte xxxxxxx
                </p>
            </div>
            <div class="col-md-8">
                <nav class="sms-footer-navigation">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Website</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Twitter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Facebook</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Github</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
