<!DOCTYPE html>
<html>
<head>
  <title>ALERTAS-SMS</title>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4-LkXroaG8cjUszwUORc1fbwWPDPGBZo&libraries=places"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>
<footer class="sms-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <%= image_tag('logotype-lg.png', class: 'sms-footer__logotype') %>
            </div>
            <div class="col-md-8">
                <nav class="sms-footer-navigation">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Website</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Twitter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Facebook</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Github</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
